Hills/App_WebReferences/AgilerMailService/Service33.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_AgilerMail" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_AgilerMail" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Secur">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClGud" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GuId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Secur" nillable="true" type="tns:Secur" />
  <xs:complexType name="ArrayOfTransactMsg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactMsg" nillable="true" type="tns:TransactMsg" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactMsg" nillable="true" type="tns:ArrayOfTransactMsg" />
  <xs:complexType name="TransactMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransactString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactMsg" nillable="true" type="tns:TransactMsg" />
</xs:schema>