Hills/App_WebReferences/AgilerMailService/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.ganiniinfotech.in/WCF_AgilerMail/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_AgilerMail" />
  <xs:element name="CliDet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_AgilerMail" minOccurs="0" name="Cli" nillable="true" type="q1:Secur" />
        <xs:element minOccurs="0" name="Bhadram" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CliDetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_AgilerMail" minOccurs="0" name="CliDetResult" nillable="true" type="q2:Secur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDailyParameterinWeb">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_AgilerMail" minOccurs="0" name="Dparam" nillable="true" type="q3:ArrayOfTransactMsg" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_AgilerMail" minOccurs="0" name="Client" nillable="true" type="q4:Secur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDailyParameterinWebResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDailyParameterinWebResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWkParamDatainWeb">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF_AgilerMail" minOccurs="0" name="TMsg" nillable="true" type="q5:TransactMsg" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCF_AgilerMail" minOccurs="0" name="Client" nillable="true" type="q6:Secur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWkParamDatainWebResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCF_AgilerMail" minOccurs="0" name="SaveWkParamDatainWebResult" nillable="true" type="q7:ArrayOfTransactMsg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>